body {
    margin: 0;
    font-family: inter, Arial, Helvetica, sans-serif;
    padding: 0;

    scroll-behavior: smooth;
    
    
    
}



/* 
 @font-face {
    font-family: inter;
    src: url("inter.ttf");
} 
 */
h1 {
    font-size: 60px;

    @media (min-width:1024px) {
        font-size: 70px;
    }
}

h2 {
    font-size: 48px;
}

p {
    font-size: 21px;
    line-height: 1.3;

}

.junk {
    border-top: 20px solid white; //rgb(27, 27, 26)
    position: relative;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: black;

    p {
        color: white;
    }

    display: flex;
    flex-direction: column;
   
    @media screen and (min-width:1024px) {
        flex-direction: row;
        justify-content: center;
        gap: 400px;
    }
    
}

.junk-links {
    color: grey;
    text-decoration: none;
    
    &:hover {
        color: white;
    }
}

.junk-links.active {
    color: white;
}

.web {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
}


.curso {
    
    width: 40px;
    height: 40px;
    position: absolute;
    

    border: 1px solid grey;
    border-radius: 100%;

    transform: translateX(-15px) translateY(-15px);
}





